*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  overflow: visible;
  background-color: whitesmoke;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #5E1914;
  z-index: 1000;
}

footer {
  margin-top: auto;
}

ul.header {
  list-style: none;
  background-color:#5E1914;
}

li {
  list-style: none;
}

ul li {
  display: inline-block;
  position: relative;
}


ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  background:#5E1914;
  position: absolute;
  z-index: 999;
  display: none;
  overflow: visible;
}

ul:hover li:hover ul.dropdown {
  display: block;
  overflow: visible;
  color: 	#5E1914;
}

a {
  color: white;
  text-decoration: none;
  overflow: visible;
}

.emblem{
  text-indent: 40px;
  font-size: 20px;
  color:#FFDF00;
}

.navbar {
  width: 95%;
  margin: auto;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding{
  font-size: 2rem;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: 	#FFDF00;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: white;
}

.container {
  width: 1140%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 30px;
  background-color: #5E1914;
}

.footer-text-left {
  font-size:20px;
  padding-left:40px;
  float:left;
  word-spacing:20px;
}

a.menu:hover {
  color:#FFDF00;
  font-size:18px;
}
.follow {
  color: white;
  display:inline;
}

.footer-content-right {
  padding-right:40px;
  word-spacing:5px;
  float:right;
}

i{
  font-size: 23px;
}
i:hover {
  color: 	#FFDF00;
}

.icon-style {
  height:40px;
  margin-left:20px;
  margin-top:5px;
}

.icon-style:hover {
  color:	#5E1914;
  padding:5px;
}

pre code {
  text-align: left;
  font-size: 16px;
  overflow: auto;
  background-color: #030303;
  border: 1px solid #3e3f3d;
  display: block;
  padding: 20px;
}

.code {
  position: absolute;
  color:rgb(81, 138, 138);
  left: 20px;
  top: 300px;
  overflow: auto;
}

.content {
  position: relative;
  top: 100px;
  bottom: 100px;
  overflow: auto;
  text-align: center;
  margin-bottom: 10px;
}

.summary {
  text-align: left;
  margin-top: 10px;
  margin-left: 70px;

}

.info {
  text-align: left;
  margin-left: 40px;
  margin-top: 10px;
  top: 100px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Adjust the height as needed */
}
.hackthebox {
  width: 200px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
}
.offsec {
  width: 200px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
}
.vulnhub {
  width: 200px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
}

.About {
  width: 200px; /* Adjust width as needed */
  height: 60px; /* Adjust height as needed */
}

button {
  padding: 10px 20px;
  margin: 1px 0; /* Adjust the vertical margin as needed */
  font-size: 20px;
  cursor: pointer;
  border: black;
  background-color:#5E1914; /* Adjust the background color as needed */
  color: #FFDF00; /* Adjust the text color as needed */
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:#8f1313; /* Adjust the hover background color as needed */
}

@media(max-width:768px){
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
      }

      .nav-menu {
        position:fixed;
        Left: -100%;
        top: 70px;
        gap: 0px;
        flex-direction: column;
        background-color: rgb(41, 37, 37);
        width: 100%;
        text-align: center;
        transition: 0.3%;
      }

      .nav-item {
        margin: 16px 0;

      }

      .nav-menu.active{
        Left: 0;
      }
}